# Required for face recognition
deepface

# Web framework
streamlit==1.19.0
streamlit-webrtc==0.45.0

# TensorFlow & compatibility
tensorflow==2.10.0
protobuf==3.19.6

# Image & video processing
opencv-python-headless
numpy
pandas
Pillow
